if SHIELD_T03_DACTYL57L_LEFT

config ZMK_KEYBOARD_NAME
    default "t03_dactyl57l_"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_T03_DACTYL57L_LEFT

if SHIELD_T03_DACTYL57L_LEFT || SHIELD_T03_DACTYL57L_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_T03_DACTYL57L_LEFT || SHIELD_T03_DACTYL57L_RIGHT
