#include <physical_layouts.dtsi>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan>;

        keys =
            <&key_physical_attrs 100 100   0   0  0 0 0>
            , <&key_physical_attrs 100 100 100   0  0 0 0>
            ;
    };
};